@page {
    size: A4 portrait;
    margin: 5mm 10mm;
}

body {
    margin: 0;
    padding: 0;
}

#options {
    display: none;
}

.overlay {
    display: none;
}

.card-face {
    width: 63mm;
    height: 88mm;
    margin: 0;
}

#proxies {
    font-size: 0;
}