.card-face {
    width: 63mm;
    height: 88mm;
    transition: transform .2s;
}

.card-face:hover {
    transform: scale(1.2);
    z-index: 1;
}

.selected-card {
    max-height: 70svh;
    height: 1040px;
    width: auto;
    aspect-ratio: 149/208;
}

.selected-card-wrapper {
    display: flex;
    text-wrap: nowrap;
}

.card-printing {
    margin: auto 10px;
    text-align: center;
}

.card-printing-index {
    background-color: #F6F1F9;
}

.card-printing-select {
    padding: 10px 20px;
}

.boxed {
    border-style: solid;
    border-width: 2px;
    border-color: #A46EC4;
    border-radius: 10px;
}

.deck-entry-box {
    display: flex;
    flex: 0 1 0;
}

.option-box {
    display: inline-flex;
    align-items: stretch;
    flex-direction: row;
    text-align: start;
}

.option-box-vertical {
    display: flex;
    flex: 0 1 0;
    flex-direction: column;
}

#proxies {
    font-size: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 10px;
    padding: 10px;
    margin: auto 8px;
    margin-bottom: 10px;
}

.option-button {
    flex: 0 1 auto;
    align-self: center;
    margin: 5px;
    border-style: solid;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.deck-entry-field {
    flex: 0 1 auto;
    width: 300px;
    margin: 5px;
    padding: 10px;
}

textarea.deck-entry-field {
    background-color: #F6F1F9;
}

#options {
    background-color: #F6F1F9;
    inset: 0 0;
    position: sticky;
    padding-top: 0.5%;
}

body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 8px;
}

.options-divider {
    margin-bottom: 0;
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
}

.file-upload {
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload-handler {
    display: none;
}

.file-upload-text {
    min-height: 18px;
}

.deck-specifier-select {
    padding: 0 3px;
    user-select: none;
}

#deck-specifier-select-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.clickable {
    background-color: #E4D4ED;
    border-color: #C9A8DC;
}

.clickable:hover {
    background-color: #C9A8DC;
    border-color: #A46EC4;
}

.clickable:active {
    background-color: #A46EC4;
    border-color: #A46EC4;
}

.clickable:disabled {
    cursor: not-allowed;
    background-color: #E4D4ED;
    border-color: #C9A8DC;
}

.clickable:hover:disabled {
    cursor: not-allowed;
    background-color: #E4D4ED;
    border-color: #C9A8DC;
}

.clickable:active:disabled {
    cursor: not-allowed;
    background-color: #E4D4ED;
    border-color: #C9A8DC;
}

.active {
    background-color: #A46EC4;
    pointer-events: none;
}

input[type='radio'] {
    accent-color: #A46EC4;
}

input[type='checkbox'] {
    accent-color: #A46EC4;
}

.list-option {
    text-wrap: nowrap;
}

#options-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

#flex-padding-left, #flex-padding-right {
    flex: 1;
    display: flex;
}

#proxy-options {
    margin-left: 2svw;
}

html {
    scrollbar-gutter: stable;
}

.button-wrapper {
  display: inline-flex;
  flex-direction: column;
}

#custom-cards-upload-fieldset {
    flex: 1 0 auto;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

#card-overlay {
    display: flex;
    justify-content: center;
}

#supported-formats-button {
    flex: 1 0 auto;
    margin-bottom: 10px;
}

@media only screen and (max-width: 2100px) {
    #flex-padding-right {
        display: none;
    }
}

@media only screen and (max-width: 1600px) {
    #flex-padding-left {
        flex: 0;
    }

    #proxy-options {
        margin: 0;
    }
}

/* From cssloaders.github.io */
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    color: #fff;
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.3s infinite linear;
    transform: translateZ(0);
}

@keyframes mulShdSpin {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 
        2em -2em 0 0em, 3em 0 0 -1em, 
        2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 
        3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 
        2em -2em 0 0, 3em 0 0 0.2em, 
        2em 2em 0 0, 0 3em 0 -1em, 
        -2em 2em 0 -1em, -3em 0 0 -1em, 
        -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, 
        -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, 
        -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em,
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, 
        -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 
        3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 
        3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, 
        -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}
