@media print {
    @page {
        size: auto;
        margin: 5mm 10mm;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .options {
        display: none;
    }
}

.card {
    width: 63mm;
    height: 88mm;
}
